<!-- Doing this to  make sure the navigation bar hightlights the correct tabs -->
<% content_for :employee_examination_sessions do %>
active
<% end %>

<h1>New Employee Examination Session</h1>

<%= render 'form', employee_examination_session: @employee_examination_session %>

<%= link_to 'Back', employee_examination_sessions_path %>
