<!-- Dashboard Analytics Start -->
<section id="dashboard-analytics">
  <div class="row">

    <div class="col-lg-3 col-md-6 col-12">
      <div class="card">
        <div class="card-header d-flex flex-column align-items-start pb-0">
          <div class="avatar bg-rgba-primary p-50 m-0">
            <div class="avatar-content">
              <i class="feather icon-users text-primary font-medium-5"></i>
            </div>
          </div>
          <h2 class="text-bold-700 mt-1 mb-25"><%= total_employees_registered %></h2>
          <p class="mb-0">Employees registered</p>
          <br>
        </div>
        <div class="card-content">
          <div id="subscribe-gain-chart"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-12">
      <div class="card">
        <div class="card-header d-flex flex-column align-items-start pb-0">
          <div class="avatar bg-rgba-warning p-50 m-0">
            <div class="avatar-content">
              <i class="feather icon-package text-warning font-medium-5"></i>
            </div>
          </div>
          <h2 class="text-bold-700 mt-1 mb-25"><%= total_workplaces_registered %> </h2>
          <p class="mb-0">Workplaces registered</p>
          <br>
        </div>
        <div class="card-content">
          <div id="orders-received-chart"></div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-12">
      <div class="card">
        <div class="card-header d-flex flex-column align-items-start pb-0">
          <div class="avatar bg-rgba-primary p-50 m-0">
            <div class="avatar-content">
              <i class="feather icon-clipboard text-primary font-medium-5"></i>
            </div>
          </div>
          <h2 class="text-bold-700 mt-1 mb-25"><%= total_workplace_examinations_done %></h2>
          <p class="mb-0">Examination sessions done</p>
          <br>
        </div>
        <div class="card-content">
          <div id="orders2-received-chart"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-12">
      <div class="card">
        <div class="card-header d-flex flex-column align-items-start pb-0">
          <div class="avatar bg-rgba-warning p-50 m-0">
            <div class="avatar-content">
              <i class="feather icon-activity text-warning font-medium-5"></i>
            </div>
          </div>
          <h2 class="text-bold-700 mt-1 mb-25"><%= total_individual_examinations_done %> </h2>
          <p class="mb-0">Individual examination sessions done</p>
          <br>
        </div>
        <div class="card-content">
          <div id="orders3-received-chart"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row match-height">

    <div class="col-lg-6 col-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Activity Timeline</h4>
        </div>
        <div class="card-content">
          <div class="card-body">
            <ul class="activity-timeline timeline-left list-unstyled">
              <li>
                <div class="timeline-icon bg-primary">
                  <i class="feather icon-plus font-medium-2 align-middle"></i>
                </div>
                <div class="timeline-info">
                  <p class="font-weight-bold mb-0">Client Meeting</p>
                  <span class="font-small-3">Bonbon macaroon jelly beans gummi bears jelly lollipop apple</span>
                </div>
                <small class="text-muted">25 mins ago</small>
              </li>
              <li>
                <div class="timeline-icon bg-warning">
                  <i class="feather icon-alert-circle font-medium-2 align-middle"></i>
                </div>
                <div class="timeline-info">
                  <p class="font-weight-bold mb-0">Email Newsletter</p>
                  <span class="font-small-3">Cupcake gummi bears soufflé caramels candy</span>
                </div>
                <small class="text-muted">15 days ago</small>
              </li>
              <li>
                <div class="timeline-icon bg-danger">
                  <i class="feather icon-check font-medium-2 align-middle"></i>
                </div>
                <div class="timeline-info">
                  <p class="font-weight-bold mb-0">Plan Webinar</p>
                  <span class="font-small-3">Candy ice cream cake. Halvah gummi bears</span>
                </div>
                <small class="text-muted">20 days ago</small>
              </li>
              <li>
                <div class="timeline-icon bg-success">
                  <i class="feather icon-check font-medium-2 align-middle"></i>
                </div>
                <div class="timeline-info">
                  <p class="font-weight-bold mb-0">Launch Website</p>
                  <span class="font-small-3">Candy ice cream cake. </span>
                </div>
                <small class="text-muted">25 days ago</small>
              </li>
              <li>
                <div class="timeline-icon bg-primary">
                  <i class="feather icon-check font-medium-2 align-middle"></i>
                </div>
                <div class="timeline-info">
                  <p class="font-weight-bold mb-0">Marketing</p>
                  <span class="font-small-3">Candy ice cream. Halvah bears Cupcake gummi bears.</span>
                </div>
                <small class="text-muted">28 days ago</small>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<!-- Dashboard Analytics end -->